{
  "cmake.sourceDirectory": "${workspaceFolder}",
  "cmake.buildDirectory": "${workspaceFolder}/build",
  "cmake.configureOnOpen": true,
  "cmake.generator": "Ninja",
  "cmake.exportCompileCommandsFile": true,
  "cmake.useCMakePresets": "always",
  "cmake.buildBeforeRun": true,

  "clangd.detectExtensionConflicts": true,
  "clangd.arguments": [
    "--background-index",
    "--compile-commands-dir=${workspaceFolder}/build-qt6-debug",
    "-j=0",
    "--all-scopes-completion",
    "--completion-style=detailed",
    "--header-insertion=iwyu",
    "--pch-storage=memory",
    "--cross-file-rename",
    "--clang-tidy",
    "--pretty"
  ],

  "C_Cpp.intelliSenseEngine": "disabled",

  "editor.formatOnSave": true,
  "editor.formatOnSaveMode": "modificationsIfAvailable",
  "editor.formatOnType": true,
  "editor.formatOnPaste": true,
  "[cpp]": {
    "editor.defaultFormatter": "llvm-vs-code-extensions.vscode-clangd"
  },
  "[c]": {
    "editor.defaultFormatter": "llvm-vs-code-extensions.vscode-clangd"
  },
  "[python]": {
    "editor.defaultFormatter": "ms-python.black-formatter"
  },

  "cmake.configureSettings": {
    "CMAKE_PREFIX_PATH": "${env:QT_DIR}"
  },

  "files.associations": {
    "conanfile.py": "python"
  },

  "python.analysis.extraPaths": []
}
